{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block navbar %}
<!-- Override navbar block to nothing -->
{% endblock %}

{% block content %}
<!-- [Body] Start -->
<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <h3><span class="fw-bolder text-primary">Epicare</span></h3>
      </div>
      <form method='POST' class="card my-5">
        <div class="card-body">
          <div class="mb-4">
            <h3 class="mb-2"><b>Reset Password</b></h3>
            <p class="text-muted">Please choose your new password</p>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" name='confirm_password' class="form-control" placeholder="Confirm Password">
          </div>
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </div>
        </div>
      </form>
      <div class="auth-footer row">
        <!-- <div class=""> -->
          <div class="col my-1">
            <p class="m-0">© 2025 Epicare, last updated 30 July 2025</p>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}
{% block footer %}
<!-- Override footer block to nothing -->
{% endblock %}